@{
    ViewData["Title"] = "Random Entertainment Generator";
}

<div class="text-center">
    <h1 class="display-4 fw-bold text-primary-teal">Welcome to the Random Entertainment Generator</h1>
    <p class="lead text-muted">Feeling bored? Let us help you find something to watch!</p>
    <hr class="my-4 border-color">
    <p class="mb-4">Click the button below to get a random recent movie recommendation.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Movies" asp-action="Index" role="button">Generate Random Movie</a>
</div>
